In [11]:
import json

In [8]:
base = "/Users/casey_idz/Coding/uw-macrostrat/column-creator/backend"
fixtures = base + "/fixtures"
procedures = base + "/procedures"
queries = base + "/queries"
config = base + "/config"
project = "project_10"

In [4]:
insert_sql = queries + "/project_1_insert.sql"

In [5]:
insert_sql

'/Users/casey_idz/Coding/uw-macrostrat/column-creator/backend/queries/project_1_insert.sql'

In [13]:
sql = open(insert_sql).read()
config_fn = config + "/" + project + ".json"
config_json = json.load(open(config_fn))

In [23]:
project_schema = config_json['project_schema']
sql = sql.replace("${project_schema}", project_schema)

In [24]:
sql

'INSERT INTO project_10.columns(project_id, col_id, col_name, col_group, location) VALUES (\n    :project_id, :col_id, :col_name, :col_group, (ST_Dump(ST_GeomFromGeoJSON(:location))).geom);\n\n'